<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab1">
    <select id="exam1" resultType="BookDTO">
        select * from book
    </select>
    <select id="exam2" resultType="BookDTO">
        select * from book order by price desc
    </select>
    <select id="exam3" resultType="BookDTO">
        select title, price from book where price >= 20000
    </select>
    <select id="exam4" resultType="BookDTO">
        select title, price from book where kind LIKE "%2"
    </select>
    <select id="exam5" resultType="BookDTO">
        select title, price from book where kind LIKE "%4" || kind LIKE "%5"
    </select>
    <select id="exam6" resultType="BookDTO" parameterType="java.lang.String">
        select title, price from book where title LIKE concat('%', #{word} , '%')
    </select>
    <select id="exam7" resultType="BookDTO">
        select kind, avg(price) price from book group by kind
    </select>
    <insert id="insert" parameterType="BookDTO">
        insert into book(title, price, kind) values (#{title}, #{price}, #{kind})
    </insert>
</mapper>